coutens_model_h13cn.sublime-project
coutens_model_h13cn.sublime-workspace
amc.inp
dustopac.inp
dustopac_1.inp
envstruct.dat
envstruct.inp
external_meanint.inp
sky.inp
spectrum11.sky
starinfo.inp
starspectrum.inp
transphere.dat
transphere.inp
transphere.mdl
*~